<div class="content">
  <h1 class="med-center-font">YOUR RESOURCES</h1>
  <div class="small-font">
    <div *ngFor="let res of resources">
      <div *ngIf="res.itemList && res.itemList.length">
        <strong>{{res.displayName}}</strong>
        <div *ngFor="let item of res.itemList">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
  <br/>
  <h1 class="med-center-font">YOUR STORY</h1>
  <div class="small-font container">
    <div class="row">
      <div class="col-12" >
        <input type="text" [value]="title" class="form-control form-control-sm" placeholder="Your title">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-12">
        <textarea [(ngModel)]="story" class="form-control form-control-sm" rows="5"></textarea>
      </div>
    </div>
    <div class="row" style="float: right; margin-right: 0; margin-top: 5px">
      <button class="btn btn-warning btn-sm" (click)="generateStory()">Generate new story</button>
    </div>
  </div>
</div>



